#cnv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;
}

body {
    background-color: black;
    color: aliceblue;
    overflow: hidden;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;

}


.instruct-container {

    margin-right: 2rem;
    width: 300px;
    height: 50vh;
    position: absolute;
    right: 0;
    font-size: larger;

}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: fit-content;
    position: absolute;
    left: 5%;
    bottom: 40%;
}

.icons img {
    width: 50%;
    height: 50%;

}

#pattern {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    height: fit-content;
    position: absolute;
    bottom: 100px;
    left: 25%;
}

#ins {
    height: fit-content;
}

#lineContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    position: relative;

}